<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>userFilter</filter-name>
        <filter-class>filter.userFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>userFilter</filter-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/</url-pattern>
        <url-pattern>/Brand</url-pattern>
        <url-pattern>/invoiceController</url-pattern>
        <url-pattern>/userController</url-pattern>
        <url-pattern>/Admin</url-pattern>
        <url-pattern>/</url-pattern>
        <url-pattern>/ProductGroup</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerController</servlet-name>
        <servlet-class>controller.registerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Store</servlet-name>
        <servlet-class>controller.ProductGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Testclass</servlet-name>
        <servlet-class>controller.TestClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userController</servlet-name>
        <servlet-class>controller.userController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>invoiceController</servlet-name>
        <servlet-class>controller.invoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductGroup</servlet-name>
        <servlet-class>controller.ProductGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>controller.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyCart</servlet-name>
        <servlet-class>controller.BuyCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandController</servlet-name>
        <servlet-class>controller.BrandController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processCartController</servlet-name>
        <servlet-class>controller.processCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImgController</servlet-name>
        <servlet-class>controller.ImgController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomepageController</servlet-name>
        <servlet-class>controller.HomepageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>controller.OrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerController</servlet-name>
        <url-pattern>/registerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Store</servlet-name>
        <url-pattern>/Store</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Testclass</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userController</servlet-name>
        <url-pattern>/userController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>invoiceController</servlet-name>
        <url-pattern>/invoiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductGroup</servlet-name>
        <url-pattern>/ProductGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/AccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyCart</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandController</servlet-name>
        <url-pattern>/Brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processCartController</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImgController</servlet-name>
        <url-pattern>/Img</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageController</servlet-name>
        <url-pattern>/Homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Homepage</welcome-file>
    </welcome-file-list>
</web-app>
